* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav-items {
    display: flex;
    gap: 40px;
    justify-content: end;
    align-items: center;
    height: 40px;
}

.nav-items .item {
    color: grey;
    text-decoration: none;
    transition: 0.2s;
    display: inline-block;
}

.nav-items .item:hover {
    color: black;
    transform: scale(1.15);
}