* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.nav-items {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.nav-items .item {
    color: grey;
    text-decoration: none;
    transition: 0.2s;
    display: inline-block;
}

.nav-items .item:hover {
    color: black;
    transform: scale(1.15);
}

.carousel {
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
}

.carousel-items {
    width: 100%;
    height: 100%;
    display: flex;
    transition: 0.5s ease-in-out;
}

.carousel-items img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    pointer-events: none;
}

.buttons button {
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.buttons button img {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(1);
}